<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" 
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
    <section name="TestExecution" 
             type="Microsoft.VisualStudio.TestTools.Execution.TestExecutionSection, Microsoft.VisualStudio.QualityTools.ExecutionCommon" />
  </configSections>


  <appSettings>
    <add key="ffmpeg_path" value="D:\programas\ffmpeg\bin\ffmpeg.exe"/>
  </appSettings>
  <TestExecution xmlns="http://microsoft.com/schemas/VisualStudio/TeamTest/2010">

    <AssemblyResolution>

      <RuntimeResolution>

        <Directory path="D:\Projetos\ffmpeg\out" includeSubDirectories="false"/>

      </RuntimeResolution>

    </AssemblyResolution>

  </TestExecution>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing  privatePath="D:\Projetos\ffmpeg\out"/>
    </assemblyBinding>
  </runtime>

  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <!--<alias alias="ILogger" type="MyApp.ILogger, MyApp" />
    <namespace name="MyApp.Implementations" />
    <assembly name="MyApp" />

    <container>
      …
    </container>-->
    <alias alias="IHLSConversionJob" type="Running.Video.IHLSConversionJob, Running.Video" />
    <container>
      <register type="IHLSConversionJob" mapTo="Running.Video.FFMPEG.HLSConversionJob, Running.Video.FFMPEG" >
        <constructor />
      </register>
    </container>

  </unity>
</configuration>